<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/all-locations" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="product-slider">
    <ion-slide>
      <img src="../../assets/locations/location-1.png" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/locations/location-2.png" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/locations/location-3.png" />
    </ion-slide>
  </ion-slides>

  <div class="ion-padding-vertical">
    <h1 class="item-name">Colombo</h1>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="review">
    <ion-row>
      <ion-col size="6">
        <div class="rating">
          4.5
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="count">49 Reviews</div>
      </ion-col>
    </ion-row>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="description">
    <h5>Description</h5>

    <p>
      Travel isn’t always pretty. It isn’t always comfortable. Sometimes it hurts, it even breaks your heart. But that’s
      okay. The journey changes you; it should change you. It leaves marks on your memory, on your consciousness, on
      your heart, and on your body. You take something with you. Hopefully, you leave something good behind
    </p>

  </div>

  <div class="seperator">
    <hr>
  </div>
</ion-content>

